<a href="https://colab.research.google.com/github/GeneralHassaan/Testing-Pipeline/blob/main/HW2_Hassaan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Hassaan Asif

In [2]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.compose import make_column_transformer, make_column_selector
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import train_test_split

In [3]:
filename = '/content/Cereal with missing values.xlsx - Sheet 1 - cereal.csv'
dp = pd.read_csv(filename)
dp.head()

,name,Manufacturer,type,calories per serving,grams of protein,grams of fat,milligrams of sodium,grams of dietary fiber,grams of complex carbohydrates,grams of sugars,milligrams of potassium,vitamins and minerals (% of FDA recommendation),Display shelf,Weight in ounces per one serving,Number of cups in one serving,Rating of cereal
0,Apple Cinnamon Cheerios,General Mills,Cold,110.0,2,2.0,180.0,1.5,10.5,10.0,70,25.0,1,1.00,0.75,29.509541
1,Basic 4,General Mills,Cold,130.0,3,2.0,NaN,2.0,18.0,NaN,100,25.0,3,1.33,0.75,37.038562
2,Cheerios,General Mills,Cold,NaN,6,2.0,290.0,2.0,17.0,1.0,105,25.0,1,1.00,1.25,50.764999
3,Cinnamon Toast Crunch,General Mills,Cold,120.0,1,3.0,210.0,0.0,13.0,9.0,45,25.0,2,1.00,0.75,19.823573
4,Clusters,General Mills,Cold,110.0,3,2.0,140.0,2.0,13.0,7.0,105,25.0,3,1.00,0.50,40.400208

In [4]:

target = 'calories per serving'
X = dp.drop(columns=target)
y = dp[target]

In [5]:

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)
X_train.shape

(57, 15)

In [6]:
#numerical columns
num_cols = ['grams of protein', 'grams of fat', 'milligrams of sodium', 'grams of dietary fiber','grams of complex carbohydrates',
'grams of sugars', 'milligrams of potassium', 'vitamins and minerals (% of FDA recommendation)',
'Display shelf', 'Weight in ounces per one serving', 'Number of cups in one serving','Rating of cereal']

In [7]:
#categorical columns
cat_cols = ['name', 'Manufacturer', 'type']

In [8]:

dp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 16 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   name                                             77 non-null     object
 1   Manufacturer                                     77 non-null     object
 2   type                                             68 non-null     object
 3   calories per serving                             70 non-null     float64
 4   grams of protein                                 77 non-null     int64
 5   grams of fat                                     69 non-null     float64
 6   milligrams of sodium                             76 non-null     float64
 7   grams of dietary fiber                           77 non-null     float64
 8   grams of complex carbohydrates                   77 non-null     float64
 9   grams of sugars                                  68 non-null     float64
 10  milligrams of potassium                          77 non-null     int64
 11  vitamins and minerals (% of FDA recommendation)  76 non-null     float64
 12  Display shelf                                    77 non-null     int64
 13  Weight in ounces per one serving                 77 non-null     float64
 14  Number of cups in one serving                    77 non-null     float64
 15  Rating of cereal                                 77 non-null     float64
dtypes: float64(10), int64(3), object(3)
memory usage: 9.8+ KB

In [9]:
dp.isna().sum()

name                                               0
Manufacturer                                       0
type                                               9
calories per serving                               7
grams of protein                                   0
grams of fat                                       8
milligrams of sodium                               1
grams of dietary fiber                             0
grams of complex carbohydrates                     0
grams of sugars                                    9
milligrams of potassium                            0
vitamins and minerals (% of FDA recommendation)    1
Display shelf                                      0
Weight in ounces per one serving                   0
Number of cups in one serving                      0
Rating of cereal                                   0
dtype: int64

In [10]:
dp[dp.isna().any(axis=1)].shape

(26, 16)

In [11]:
dp_num = dp[num_cols]
dp_num.loc[:, dp_num.isna().any()]

,grams of fat,milligrams of sodium,grams of sugars,vitamins and minerals (% of FDA recommendation)
0,2.0,180.0,10.0,25.0
1,2.0,NaN,NaN,25.0
2,2.0,290.0,1.0,25.0
3,3.0,210.0,9.0,25.0
4,2.0,140.0,7.0,25.0
...,...,...,...,...
72,NaN,240.0,2.0,25.0
73,1.0,230.0,3.0,25.0
74,1.0,0.0,NaN,25.0
75,0.0,80.0,0.0,0.0
76,2.0,0.0,-1.0,0.0

In [12]:
num_selc = make_column_selector(dtype_include='number')
cat_selc = make_column_selector(dtype_include='object')

In [13]:
freq_imputer = SimpleImputer(strategy = 'most_frequent')
median_imputer = SimpleImputer(strategy='median')
mean_imputer = SimpleImputer(strategy='mean')

In [14]:
num_tuple = (median_imputer, num_selc)
cat_tuple = (freq_imputer, cat_selc)

In [15]:
scaler = StandardScaler()
ohe = OneHotEncoder(handle_unknown='ignore', sparse=False)
# Numeric pipeline
numeric_pipe = make_pipeline(mean_imputer, scaler)
numeric_pipe

Pipeline(steps=[('simpleimputer', SimpleImputer()),
                ('standardscaler', StandardScaler())])

In [16]:
categorical_pipe = make_pipeline(freq_imputer, ohe)
categorical_pipe

Pipeline(steps=[('simpleimputer', SimpleImputer(strategy='most_frequent')),
                ('onehotencoder',
                 OneHotEncoder(handle_unknown='ignore', sparse=False))])

In [17]:
number_tuple = (numeric_pipe, num_selc)
category_tuple = (categorical_pipe, cat_selc)
preprocessor = make_column_transformer(number_tuple, category_tuple)
preprocessor

ColumnTransformer(transformers=[('pipeline-1',
                                 Pipeline(steps=[('simpleimputer',
                                                  SimpleImputer()),
                                                 ('standardscaler',
                                                  StandardScaler())]),
                                 <sklearn.compose._column_transformer.make_column_selector object at 0x7f2846506f90>),
                                ('pipeline-2',
                                 Pipeline(steps=[('simpleimputer',
                                                  SimpleImputer(strategy='most_frequent')),
                                                 ('onehotencoder',
                                                  OneHotEncoder(handle_unknown='ignore',
                                                                sparse=False))]),
                                 <sklearn.compose._column_transformer.make_column_selector object at 0x7f2846506f50>)])

In [18]:
preprocessor.fit(X_train)

ColumnTransformer(transformers=[('pipeline-1',
                                 Pipeline(steps=[('simpleimputer',
                                                  SimpleImputer()),
                                                 ('standardscaler',
                                                  StandardScaler())]),
                                 <sklearn.compose._column_transformer.make_column_selector object at 0x7f2846506f90>),
                                ('pipeline-2',
                                 Pipeline(steps=[('simpleimputer',
                                                  SimpleImputer(strategy='most_frequent')),
                                                 ('onehotencoder',
                                                  OneHotEncoder(handle_unknown='ignore',
                                                                sparse=False))]),
                                 <sklearn.compose._column_transformer.make_column_selector object at 0x7f2846506f50>)])

In [19]:
X_train_processed = preprocessor.transform(X_train)
X_train_processed

array([[-1.30301442, -0.97467943,  0.56162348, ...,  0.        ,
         1.        ,  0.        ],
       [ 0.40438378,  0.        ,  0.68120871, ...,  0.        ,
         1.        ,  0.        ],
       [ 0.40438378, -0.97467943,  1.99664622, ...,  0.        ,
         1.        ,  0.        ],
       ...,
       [ 1.25808288,  1.94935887, -0.03630266, ...,  1.        ,
         1.        ,  0.        ],
       [ 0.40438378,  0.97467943, -0.15588789, ...,  0.        ,
         1.        ,  0.        ],
       [ 0.40438378,  0.        ,  0.08328257, ...,  0.        ,
         1.        ,  0.        ]])